.logo-img {
    padding: 10px 0 10px 10px;
}
.back {
    padding: 5px;
    text-decoration: none;
    color: #292b2c;
}
.back:hover {
    background-color: #292b2c;
    color: #cccccc;
    text-decoration: none;
}
.footy {
    overflow: hidden;
}
.marketing-txt {
    word-break: break-all;
    font-size: 1.2em;
}
.image-logo {
    max-width: 100%;
}
.fb-logo {
    font-size: 16px;
}
.big-icon {
    font-size: 32px;
}
.nav-link {
    font-size: 1.25em;
}
.nav-link:hover {
    background-color: #cccccc;
}
.footy-txt {
    font-size: 1.25em;
    margin-bottom: 3px;
}