.carousel-text {
  background:  rgba( 95, 91, 91, 0.5);
  font-size: 1.5em;
}
.dropdown-item:hover {
  color: #c12e2a;
  font-weight: 600;

}
.navbar {
  box-shadow: 0px 3px 3px -3px #737373;
}
.footy {
  box-shadow: 0px 3px 3px -3px #737373;
}
.logo-img {
  padding: 10px 0 10px 10px;
}
.back {
  padding: 5px;
  text-decoration: none;
  color: #292b2c;
}
.back:hover {
  background-color: #292b2c;
  color: #cccccc;
  text-decoration: none;
}
.footy {
  overflow: hidden;
}
.marketing-txt {
  word-break: break-all;
  font-size: 1.2em;
}
.image-logo {
  max-width: 100%;
}
.fb-logo {
  font-size: 16px;
}
.big-icon {
  font-size: 32px;
}