.carousel-text {
  background:  rgba( 95, 91, 91, 0.5);
  font-size: 1.5em;
}
.dropdown-item:hover {
  color: #c12e2a;
  font-weight: 600;

}
.navbar {
  box-shadow: 0px 5px 3px -3px #737373;
}
.footy {
  box-shadow: 0px 5px 3px -3px #737373;
  overflow: hidden;
}
.logo-img {
  padding: 10px 0 10px 10px;
}
.back {
  padding: 5px;
  text-decoration: none;
  color: #292b2c;
}
.back:hover {
  background-color: #292b2c;
  color: #cccccc;
  text-decoration: none;
}
.footy {
  overflow: hidden;
}
.marketing-txt {
  word-break: keep-all;
  font-size: 1.2em;
  color: #333333;
}
.image-logo {
  max-width: 100%;
}
.fb-logo {
  font-size: 16px;
}
.big-icon {
  font-size: 32px;
}
.nav-link {
  font-size: 1.25em;
}
.nav-link:hover {
  background-color: #cccccc;
}
.footy-txt {
  font-size: 1.25em;
  color: #333333;
  margin-top: 3px;
}
section.servis {
  margin-top: 50px;
}
body {
  max-width: 100%;
  background: linear-gradient(#ffffff, darkgray);
}
div.carousel-inner {
  box-shadow: 0px 5px 5px -3px #1d1e1f;
}
iframe {
  box-shadow: 0px 5px 3px -3px #737373;
  margin-bottom: 30px;
}
.navbar {
  border-bottom: 4px solid #bd4147;
}
.footy-contact {
  margin-right: 2em;
  margin-top: 3px;
}
.back {
  border: 2px solid #292b2c;

}
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
.footy {
  margin-top: 30px;
}

.img-service {
  box-shadow: 0px 5px 3px -3px #737373;
}
ul.navbar-nav li{
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 600;
}
.marketing-txt h2 {
  color: #c12e2a;
  font-weight: 600;
}
.dropdown-item {
  font-size: 1.25em;
}
#index #navi .index, #contact #navi .contact, #about #navi .about {
  color: #292b2c;
  background: #cccccc;
}
.footy {
  background-image: url("../img/cityscape.png");
  background-repeat: repeat-x;
  background-size: contain;
}

p.footy-contact, p.footy-txt {
  color: #292b2c;
  font-weight: 600;
}
.footy i {
  color: #c12e2a;
}